// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "rails_bootstrap_forms";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

.navbar-default .navbar-nav > li > span {
    color: #777;
    position: relative;
    display: block;
    padding: 15px 15px;
}
