<article class="review panel panel-default">
  <header class="panel-heading">

    <% review.rating.times do %>
      <%= fa_icon('star', class: 'star') %>
    <% end %>

    <% (5 - review.rating).times do %>
      <%= fa_icon('star-o', class: 'star') %>
    <% end %>

    <p>By <%= review.user.first_name %></p>
  </header>
  <div class="panel-body">
    <p class="review description">
      <%= review.description %>
    </p>
  </div>
</article>